<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="624" />
    <add key="mainForm.Location.Y" value="384" />
    <add key="mainForm.Width" value="693" />
    <add key="mainForm.Height" value="791" />
    <add key="nMinFan" value="20" />
    <add key="nMaxFan" value="100" />
    <add key="cboMaxTempSource" value="2" />
    <add key="runSerialMenuItem" value="false" />
    <add key="sldPlotInterval" value="5" />
    <add key="sldLedBrightness" value="50" />
    <add key="sldManualColor" value="500" />
    <add key="sldManualFan" value="50" />
    <add key="chkManualColor" value="false" />
    <add key="chkManualFan" value="false" />
    <add key="nMinTemp" value="20" />
    <add key="nMaxTemp" value="80" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/12/plot" value="false" />
    <add key="/amdcpu/0/clock/11/plot" value="false" />
    <add key="/amdcpu/0/clock/10/plot" value="false" />
    <add key="/amdcpu/0/clock/9/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/it8721f/control/0/plot" value="false" />
    <add key="/lpc/it8721f/control/1/plot" value="false" />
    <add key="/lpc/it8721f/control/2/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/1/plot" value="false" />
    <add key="/lpc/it8721f/voltage/2/plot" value="false" />
    <add key="/lpc/it8721f/voltage/3/plot" value="false" />
    <add key="/lpc/it8721f/voltage/4/plot" value="false" />
    <add key="/lpc/it8721f/voltage/5/plot" value="false" />
    <add key="/lpc/it8721f/voltage/6/plot" value="false" />
    <add key="/lpc/it8721f/voltage/7/plot" value="false" />
    <add key="/lpc/it8721f/voltage/8/plot" value="false" />
    <add key="/lpc/it8721f/temperature/0/plot" value="false" />
    <add key="/lpc/it8721f/temperature/1/plot" value="false" />
    <add key="/lpc/it8721f/fan/0/plot" value="false" />
    <add key="/lpc/it8721f/fan/2/plot" value="false" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAHO+HafPf+2aBwPDgf9blj8wYwADBScAzjDHShgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAAtmitfnv3bNg4HhwP8lDQ/MGIBA7slUJwBYWkKSGAAAAA==" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAGvvX6HPf+2aBwPDgf8THaebMYCBghMARiT9wRgAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAGvvX6HPf+2aBwPDgf8THaebMQCBj+8hJwA+TDUEGAAAAA==" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEANNpuqLPf+2aBwPDgf8Mb0rMGMDAxAkA/6Q7UhgAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEANNpuqLPf+2aBwPDgf8Mb0rMGIDgrFWQEwBDPkfMGAAAAA==" />
    <add key="/hdd/3/temperature/0/values" value="H4sIAAAAAAAEALuy5Ys+/7VrHgwMB/4naYWbMYCBjhMAmkgopxgAAAA=" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEALuy5Ys+/7VrHgwMB/4naYWbMQBBfv9RJwDXu7ihGAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPv1TEGf/9o1DwaGA/+rz75lZAADe6cJ77KYIGwHpwONYjwwNkLc3mmhaDZczUVJR3YY2y8IpsYRxRwE29Fp/hIHdhi74ThM3AlJjZPToWSE+XGV2M00K82BszsscuFqbLURasRzLrPA2LosCHMQ7nd0qsfqBlzuRw4fGycA+jZ09UQBAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAOPmU9Tnv3bNg4HhwP/qs28ZGUDgxwGXCe+ymMBsjcMItscxl4bjUPaGYy6XurIh7APHXPIXIMTh7BPHkPQed1kgClUfgGTOjmMu9TA20JzLMDNXHHPxDUKIw81BNhMovskGqv7HMZe4Spia00j2nkKYX3AcIf7juMuhZJhdZxB6Nc4h1HCcdjErzYGwLY65dFrkQtgJx1x0WKBqLhxzCePIgLvt841seDjI3M2EuhPJ3hWnEH7vQBI3QGJfQHK/ARLb4qgLAOqXjyywAQAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOPmU9Tnv3bNg4HhwP/qs28ZGUDAMNNlwrssJjB72xSXA41iPDA2XHyaqssC0Wy4mg3szLIwdlwlVE1justCmJqw486qfjlw9bvmhwpjmHnXHWEmA7tzw/EsOBsA9h8hwKgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAOPmU9Tnv3bNg4HhwP/qs28ZGYBATUfYdcK7LCYQ+94pa9cDjWI8MDZcXOqqywLRbLiaDezMsjB2XCVEDcichVA1+XebXVT9cuDqd80PFcYw89BDuJmMDaecG45nwdkAHsRewqgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAOPmU9Tnv3bNg4HhwP/qs28ZGUDA8KXLhHdZTGD2NhHXA41iPDA2XHzaUpeNNtlwNfMfMMnC2HGVUDWNz10WikLVhLm7qPrlwNXvmh8qjGHm3eMuC2DqGdqdG45nwdkAF7UpBagAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAOPmU9Tnv3bNg4HhwP/qs28ZGcDAwWHCuywmBijAzm6w+3Ijmwmm3jcIJr7AIb4Sxg5AMifAYaMNQn39cbh6+/wFCL2PN8LUsDj6wc1kcUSYY4Ck94HDoeRsuF6E+gSHBaLZcHuRzLdHmPPAHqG3wQ6hRgDJzQ4OZqU5cDMrBHOh7A8OttowNSscQjkyoOwDSO7f4SBzNxMWbijhKbDtKguMjXCnA5LbkNkBDgDqfwekpAEAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJMxVdTnv3bNg4HhwP+sZW8ZGcBggsOEd1lMEHaDvcLdqyww9pcb2VBxBgffIJgaB4f4ShhbAUnvCYeNNjD1Ag71x2HiB+zzF8DYHQ6PN8LUvHDwg5v5AMmcB/ZIeh0OJcPUT0BS7+CwQBQmbuCAMH+BPcIcBSS9DUhuCECy64ODWWkO3JwKwVyYOQ622vAwcQjlyICLI9w/wUHmbibczchhKLANEYYIdxYg2SvgiORORwBMVf3bmAEAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJMxVdTnv3bNg4HhwP+sZW8ZGaDg3GujIBgbAI2ryGUkAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJMxVdTnv3bNg4HhwP/qs28ZGYDg1pUZjhPeZTGB2NqvEWwhs5lwdsGrGY6fb2SD2XKXZjjmL4CIn9s9w9FWG8I+cAahdxPvLMeNNhD1Nm8Xw9WfMdrl2HAcwu65vcvx8UaIGv17uxx9gyDiJY93wc35dRWh/sTinY6HkiHqTyhug6tXEtzuuFAUIu7ltAVul7zgZLg5Nhcmw/X6ME+CqwGxYWq4RCY6mpbmgNl13yc7dlrkgtlbLi5x9IPapRe+2dFkVzqYvS9sM9z9ILYOC0TNF5ZNcDf/C9zgWA9lH6pbD7frcfB6uJuPKCHEGVw3wNmaszY6AgARomsDsAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJMxVdTnv3bNg4HhwP/qs28ZGYCAR8LfdcK7LCYQ+4UAgv3hhx+crSLo7/r5RjaY/QaoPn8BRFxAwd/VVhvCXiKFpHezn+tGG4h6hW5vuPoFWS6uDcehbBMX18cbIWpOGLu4+gZBxCWMXODmZJgh1KfMcHE9lAxRf2C7K1y9Rrar60JRiLhBoBvcLo8PAXBzFDYHwPUucAtEuAfIhqkxmBzoalqaA2ZPWBbg2mmRC2azOHm7+kHtypnj5mqyKx2iBsiGuR/E1mGBqFnB4Q53843J7q71UHbBdXe4XRpP3eFufvAFIc4wA8G+ouXuCgBFNFPJsAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJMxVdTnv3bNg4HhwP/qs28ZGYDgwnxnlwnvsphA7IQ9CLaDjAucXbDb2eXzjWwwO2COs0v+Aoj4gXpnF1ttqJqpSHoNXF022kDUN1wOhKtvCM1zaTgOZevmuzzeCFHzwCDfxTcIIr7APB/hHrV8uPqCebkuh5Ih6hkUM+HqE4KzXBaKQsQddqfB7XpgZwM3p8HYFq634akVwj1ANtzNmy1dTEtzIP5KtXXptMgFsz98D3Lxg9oV0JfqYrIrHaKmNxXufhBbhwXqnrvJcDcv2JDoUg9lOyxKQPgrOwHu5gYdhDjDgkQ4e0NIsgsA6wQeBrABAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJMxVdTnv3bNg4HhwP/qs28ZGcCgwfXca6MgGBsAKj4R9CQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJMxVdTnv3bNg4HhwP/qs28ZGcDAz2nCuywmCDvESf98rjyMfSg5Gyoe4eQbBFMT5bRQNBuuPn8BQi/CnCgkvTFIaqJQ7FLOEeeBsWXuZsLtQqgJc6o/js38CCQ3oJqJYPs4AQBbIy0t8AAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHvmKa7Pf+2aBwPDgf/GapOYGICgJ2eX08R3WWB2cdQupwlQtpnDLqf64xC2oNcup0PJ2WC2m+Jup7hKiPg1x91w9bV8CLb4tN1ODVC9d6fvgYv/uYlgi87fB2cbMR+Cs28/POi0QBRil6zkQaf8BRDxyeEH4WpK/u5xWghVY3V/N9ydyUsPwsWzBPbCxbUm7oC7Z9GSHXBzVq/Z4WRWmgNm29jtdDKFsguW7nFyfZgOZj8y3w9XnyJ6xElUHaKGI+C4E/e2TDB7fvoxuPn1d7fD7S3p2QLXm1WMYN8WQbB5H2yGs3d92Aw3R+PNZicA9GNbP7ABAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHvmKa7Pf+2aBwPDgf/GapOYGIDgc6Oh48R3WWD29gJDxwlQ9u5wQ8f64xC2bKKh46HkbDCbXc/IMa4SIs7hawRXryKDYDvNNXJsgOrdPMkYLr7yIoIt1mgKZ6/bbQFnf5ht4bhAFGLX6TvmjvkLIOIuEgg1+Z+NHRdC1Tx9ZAR3Z3SSBVy8ltUELu67Vx/unmvn9eHm1FzXdzQrzQGzJZIMHE2h7AXzjR1dH6aD2VOEzODqW7ZYOYqqQ9TMO27ryL0tE8wOfmUDN99KSB9u76mX2nC9ny8i2C/LEexFrgh2c6g23BytQG1HAPD7XU2wAQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAHvmKa7Pf+2aBwPDgf/GapOYGIBgwmU/+4nvssDsgOf+9hOgbIHyQPv64xD2hwcB9oeSsyFqhFzs4yoh4g5KTnD1DQaucPYCOVv7BqjeCcd14eIGNzTh7ISHfHD2gfxtdnBz0nfZLRCF2KXgc8kufwFEnOHuKbiaC7vV7RdC1RQcsYC7U2HWQTuY+IdZagj3y2bD3ZPwNRNuL0N1pr1ZaQ7ELxcT7E2h7AM/dOxdH6ZD3HOSFaF+VZ6dqDpEDUOfui33tkyImpxDtjDzFc6Xwu0V0J4C13viJYItsWs6nB3gMxPO9jg7A+5OgQ8z7AEQ39trsAEAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAPvQwqLPf+2aBwPDgf9KrpxMDEAgNfGy44R3WWD2r2nmcPbLI/scGo5D2C7NWxxg4huFWZ1g7LIkVTh7/9NwODv/pxGc7dFcAGc/iT7kWA81s/r0frhdSx2b4GwHqQmOMHufRa9zXCCaDWYLWFfCxTfVRMPVL3GsgrNDQ5WdYOa7NcfAxR9Hs8HZzSYMcLaBBzOcbezR7LgQateNTm2n/AUQ8ZrT6U6XuiDib45UOfkFZUHVBMP9VXNaEW6v5BJ9J5g5y25kwsPQyqMZHoZPPs2Fs1XvH4KzD/qtgbNPbd/jAAADLte3sAEAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAPvQwqLPf+2aBwPDgf9KrpxMDEBw476M04R3WWC21UZhRxjb780R+4bjEHaS+jd7mHhp0nW4mrKk/3B211wLJ4S4NJx9ozMWid3rWA83swyu9/UROzhbyDrQEWav3xsXxwWi2WD23BuScHEh64sOMPVzb7xEYrM6wcw/4rfGAeEXFwck92AV75q7w2Eh1K43R8Sc8hdAxN8eCXK61AUTT3PyC4KI+79xgftrozA/3N63R7ScYOaAzEf45Yi9wt2rLDA2IswnOyCFvwMAZjYy26QBAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAPvQwqLPf+2aBwPDgf9KrpxMDEBw2PO144R3WWB2kvoyONt6Y7Jjw3EI+/9/ebj4ET8JJxjb/40BnF2WFA5nvzmihSRejyT+zLEeauYG4dNIZq5BYrfA7VUr43JaIJoNdUM+XPyIXw1cPUgcxlYvM3KCmT/vxkFHhBva4ezrnbFw9gbhxXB2edJ/x4VQu/zeuDjlL4CId80tcbrUBRE/6tfi5BeUBWVnwP0194Yu3N43R+ycYOYA/eUAc7OwNSOSH3WQ3BYOZ6uVGcHZQtaBjgDyB6lisAEAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAPvQwqLPf+2aBwPDgf9KrpxMDEDwRHKS44R3WWC235sjDjD29c5Yh4bjEHaSehlcfIPwZ7j6G52mTjD26yNBcPa8G7pwtnpZFJwtbH3RsR5qZqL6Mrg5///LI5kZ6wiz982RaY4LRLPB7CN+a+DumXPjJdw9c5HYR/0knOrheu2w+gtZLwPDAjgb6EfHhVC7bnQqOuUvgOmNcLrUlQ1VX+DkFwTzSyDcX/5vOOD2JqmrOcHM8XvjYg9z81E/HbhdR5DY1huFkd2ApGaNAwC+lMNlsAEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAGNcw6LPf+2aBwPDgf+CcpxMDECQNfu644R3WWA2A4MCnJ2kXubQcBzCvtF51wEmfsTvD1yNsLWmE4ydrF7mhBBPdUKY2QRnq5VtcqyHmtk194EjwswaJDNXOsLsFQGyF4hmQ9W0wMX//89HcvMCOPvNES0nmPmdcy3g4n5vjsDdX5rEjmTvGri4kHWg40KoXUf9dJzyF8DUZDhd6oKIa5Q1OPkFQcTn3Qh1QpipD7e3DMiGmZOIFIalSe1wu250xsLZc268hLOtNgrD2WVA9QB/ypNwsAEAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAGNcw6LPf+2aBwPDgf+CcpxMDECwJcLHccK7LDBb2PqiA4x9ozPWoeE4hO33xgVJfCtcfefcHXD2nBu6TjD2myNicHZZkjOcnahe5lh/HCYeDtcLNB/OnntD0hFm7///8o4LRLPBbKuNwnDxsiR2uHqrjZMdEO5ndIKZf6OTF8ltLx0Q7mmHsxkYFjggq1kItWujML9T/gKY2yKcLnVBxP3f5Dj5BUHENcrcnLDZK2Kt6QQz54ifDlIYHrFHuFnYAZv7jwLVI4c/AD4bQYywAQAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAGNcw6LPf+2aBwPDgf+CcpxMDEBwzJbBacK7LDBb2LrREca23ijs2HAcJs4IF2dg8ICr75pbAmcf9WuBs+fecISzk9Qnwdk3Onmd6qFmbhRWRrL3Itz8siR2J5i9IPYC0Www+80RMbj43Bsv4erVy+ScEHrD4eYnqS+Dqznip4OVnaSuhuSvE44LoXZ1zfVxyl8A82Ob06WubGiYdDr5BcHsjYLbe8wvBG7vzU5TJ5g5fm+OOCDC8KIDUjjA7Z1z4yVcPFH9G5Kauw4A+O8DrLABAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEADtwikOf/9o1DwaGA/+D/rMwMYCBqdOEd1kQ9gFDBFtB36nhOJTNoI8kbuq0QDQbwnawQKh5YIlQk2CFYDPYINgLTJ3qYeoVzJHsNUGwHUyR7EWySwFJXMEYu14GC4T5DkYI8QcGSO5H8mMCkriDodNCuF1mTvkLYGZaOV3qgoo3WDv5BcH8guTHA5YIexssEeYs0EO42QEpDB/oIdmLxH6ggySu6wQAfwlXqrABAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEALv4kUOf/9o1DwaGA/+XHGJlYgCCtHUezhPeZYHZi9Z6OE+EspcA2fXHEeLIahaKZoPZC5HULEFSswBJzWI0cxqQ1B9MzoaLx1ci9MLUL0azawGSmfkLMO1diGT+IjTxQ8kIvXGVmGpA4qp+OXA3dFrkwtXYaiPsCuXIgKuBmbkESQ2y3xeh+QXZPcjhqXD3KguMDQDEbRubpAEAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEALv4kUOf/9o1DwaGA/+D/rMwMQCBlH+e64R3WWC2gR+C7cxU7Fp/HMI2RBKXm5XpulA0G86GqeF9lgJXIwMUh7H5kMRB6hug6k38sNurD2TDzASJw+xCFjdCUq+AZBc30K4GLG7WR2Ib4bDXEMkukDn5CyDivw0TXC91QcRf10a7xlVCxGWR/KKAFA4g/8LMCdlWDhc3RrJLD81ebGyQ2wCNVqpesAEAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALv4kUOf/9o1DwaGA/+T1FiZGICAY3am64R3WWC2gV8enK0wK9O14TiE/ccwAS7O+yzFdYFoNpjNA2TD1MjPQpgjg8R+VRsNZ8sBxeuh6gWAerHZK4tkrwtTMdwufaAamLgCkvnI9soimW+IZCZI76FkiDlGQHZ8JaZeZyS7fgL9+9czD+5fl4fpYPZfoDhML7JdRkhuA4UVzBxepPD5ixSGXEh+l8fhF1BYAQAkfYGCsAEAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEALv4kUOf/9o1DwaGA/+LfVmZGIDg26xM1wnvssBseTR2/XEIm/dZCor4QtFsMFsOSc0fwwS4Gj2/PDgbWRykvgGqXgnJLgMk9bJIZiog2aUPVNOAJI7Nzch6DZHMBOk9lJwN1xtXiXAPTA1IPcwubqB//3jmwf3u+jAdzOYHsmF6QWpg7lFEshc5fPiAauqR1MDsksET5shhAgBgqQxSsAEAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEALv4kUOf/9o1DwaGA/+bS1iZGIDg27MU1wnvssBsA788OJsPKN5wHML+Y5gAF5eflem6QDQbzJYDsmFq+JDM0UMzB9n8eqh6AaD4RCz26iOpAeldCLWLB8iGiSsA7YWp50UyXxbJPfJIan4B3X8wORuuN74SUw3IHJi/uIBsvsI8uHhbbQaY/RdoDs+2TDD7J5CN7B6YvdxI5iCHz1+kMPyBxEZ2/28kcZB/AZu0ZY6wAQAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEALv4kUOf/9o1DwaGA/+nzGZlYgCCb7MyXSe8ywKzeZ+lwNnyQPH64xC2oV8eXNwAyF4omg1nNxxHqIep0UNSr4AkDlIPM1MAyS45JDWyQDbMTD6gmgVQu/SR7EI2kw/JHFkcbgbpPZScDVcfVwkR50HSC1Kv6pcDZnMBxTstcuH+krmbCWa/ro12LQvLALO5kfSC3JO/AML+Y5iAEj4w9xgjuUcGyf0gvRPfYYYhKEwA4ZQLRrABAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEALv4kUOf/9o1DwaGA/+XHGJlYgCCb89SXCe8ywKzFWZluk6Esv8YJrjWH4eweZHUyAPVLBTNBrPlgGyYGpA4TA03UD1MjQKSGgO/PNcGKPsf0PyDydlw8fhKhF6Yejk0uxYgmZm/AKKGD8ltskBxmPmGQDNh4j+Bdh2C2gVSH1eJcA+yv1T9csDs57XRrp0WuXBxW22ImtdA8VCODLhdyGbC1IDsgrn5N1IY/gWyYXb9QGL/QWK/BJoPY/MAzQQAVQS9YbABAAA=" />
    <add key="/lpc/it8721f/voltage/0/values" value="H4sIAAAAAAAEAHvYul6P/9o1DwaGA/+v/v/BxAAEec+NHSa8ywKzc5DYkyVMHBqOI9jY1CCz89DY9VC9btsQ4sjsKUhmIusFqYHZiy6+4bQDO7o56Gqw2cuxxsRhoWg2mL3L08QhfwHCDTBxZPU/ghHmIPsFJA5Tjxw+IHMU7l5lQfcXyC4Yu9beFG4OiA0ARujyg4wBAAA=" />
    <add key="/lpc/it8721f/voltage/1/values" value="H4sIAAAAAAAEAHvYul6P/9o1DwaGA/+v/v/BxAAEOc+NHSa8y8JgT5EwcWg4DmE/rDKBiyu0ItRcUkKwfwSjsuuhei8gqXHbhmDv8kSYmYtkL8h8mL2TJUyw6kVmT0FSg+x+kPn8266yoNsFUrNQNBuuN38Bpji6H2F+WfXRCM4G+RGmHuQemJuR3YNuLzZxUNjWI4UzAGVrhHGkAQAA" />
    <add key="/lpc/it8721f/voltage/2/values" value="H4sIAAAAAAAEAPu0Zr0e/7VrHgwMB/4fufGDiQEIGqcutp/wLgvMNjZGZTcch7CFmxfAxb14FsHZf1YuhLMdTOfB2bNmzrSvh+o9ooDQOyNvEVZzsvYsgbNlo5bA7dWMmQ8Xb0BypyeSXmQz7ZHcgKzm/PfFcPc8vYAQnw7Uu1A0G8yWAdqbvwDhL5h4ksAMuPrKl9Pg5ny6NBfO3uU5B65+nftCuPun52F3Z8JTRJgguwekBmZmd85yewDLdqiYsAEAAA==" />
    <add key="/lpc/it8721f/voltage/3/values" value="H4sIAAAAAAAEAPu0Zr0e/7VrHgwMB/4fufGDiQEINGPO2094lwVml+9DsBOeXrBvOI4pjqwemd07/RycfefnOfv64wg1CnevsqCrL0My8zZQPcwuZPEyHPbiEkdXg+wGmPgRhQv2C0Wz4ez8BQg3wMQdTBF+AbFh5iD7C1k9svuRwwpkPq6w5d8GCRMQGwB/zO2cmAEAAA==" />
    <add key="/lpc/it8721f/voltage/4/values" value="H4sIAAAAAAAEAPu0Zr0e/7VrHgwMB/4fufGDiQEILvs6OaydaxQEYwMAOcn3qSQAAAA=" />
    <add key="/lpc/it8721f/voltage/5/values" value="H4sIAAAAAAAEAPu0Zr0e/7VrHgwMB/4fufGDiQEI1rkrOqydaxQEYwMAbip6MiQAAAA=" />
    <add key="/lpc/it8721f/voltage/6/values" value="H4sIAAAAAAAEAPu0Zr0e/7VrHgwMB/4fufGDiQEIcp//tl871ygIxgYAUkFVQiQAAAA=" />
    <add key="/lpc/it8721f/voltage/7/values" value="H4sIAAAAAAAEAPu0Zr0e/7VrHgwMB/4fufGDiQEImg+csl871ygIxgYAECKJ7yQAAAA=" />
    <add key="/lpc/it8721f/voltage/8/values" value="H4sIAAAAAAAEAHMt2KDHf+2aBwPDgf+Foj+YGICArTHUYe1coyAYGwCuq8SlJAAAAA==" />
    <add key="/lpc/it8721f/temperature/0/values" value="H4sIAAAAAAAEAAudvkGP/9o1DwaGA/8T331nYgCDZCeFu1dZYOyG41lQ8QSnCe+wsVOQ1Kc41cPVpyGpSUdip6LorWfWlYCxF4pmQ8UTnfIXZMHdgxBPQdULtysDhY1Qn4Xk/jQUvdjZySh+rEfyOwBu+PBDLAEAAA==" />
    <add key="/lpc/it8721f/temperature/1/values" value="H4sIAAAAAAAEAAudvkGP/9o1DwaGA/8T331nYgADA6f4JElNGHvCuyyouCES28ApoKCRD8auPw4TN0Zimzg9iHsjAGMDAKIlbsBsAAAA" />
    <add key="/lpc/it8721f/temperature/2/values" value="" />
    <add key="/lpc/it8721f/fan/0/values" value="H4sIAAAAAAAEAEvbt0GP/9o1DwaGA/8Djn9nYgAC/72LXCa8ywKzzQ8thrN/H1zs0nAcwjb8vBAu/iMdwZ57DaH+svUSODupb4lLPVTvoiqEuO/0ZXD29K8I8Uh1BPsK0ByYvcjifgHY1X8SQlWjcPcqC4wNc8MVJLflAu1dKJoNZvMVL3bJXwARr8lZBBdXe4Xw1/6ri+HmhBxYBmd/v7IMrj7q/3K4m/8xLYfrda5E2HsyBcE+sQjB9olBmP/60SIXAGPtaiSkAQAA" />
    <add key="/lpc/it8721f/fan/1/values" value="H4sIAAAAAAAEAEvbt0GP/9o1DwaGA/8Djn9nYoCCtXONgmBsAMe7C6ckAAAA" />
    <add key="/lpc/it8721f/fan/2/values" value="H4sIAAAAAAAEAEvbt0GP/9o1DwaGA/8Djn9nYgCCSf5NLhPeZYHZEs0Idi1QvOE4hB3U1AgXf5CBYPPGINRnHUaw5/Q3udRD9c4VbIaLz1iIYF/SRrAnzUHVC7MXxIaJl1xAYm9DsJchqelAMqduG6rbYO7JRDJnY1OTy0LRbDD7vHSTS/4CiPgPaYR4/PcmFHfCzFFtb4az1+xuhquvUm2Bu//SB4Qfke2tW4lgOyCF/9FzjXAz21Y0ugAAAByhG7ABAAA=" />
    <add key="/lpc/it8721f/fan/3/values" value="" />
    <add key="/lpc/it8721f/fan/4/values" value="" />
    <add key="/lpc/it8721f/control/0/values" value="" />
    <add key="/lpc/it8721f/control/1/values" value="H4sIAAAAAAAEAJthvFGP/9o1DwaGA//lgr4zMUDB2rlGQTA2AFQkVtwkAAAA" />
    <add key="/lpc/it8721f/control/2/values" value="" />
  </appSettings>
</configuration>